*.DS_Store
*.out
*.o

cmake_install.cmake
CMakeCache.txt


guiCode/build


projectCode_GPU/data/*.pkl
projectCode_GPU/data/*train_set*


ProjectCode/build/
ProjectCode/build/CMakeFiles/
ProjectCode/bin/*
ProjectCode/bin/neuralNet
ProjectCode/bin/neuralNet_p
ProjectCode/testfunctions
ProjectCode/testNetworkA*
ProjectCode/trained_network_hiddenlayer1_neurons30_batchsize10_eta3*
ProjectCode/trained_network_hiddenlayer1_neurons30_batchsize10_eta3_00*
ProjectCode/trained_network_hiddenlayer1_neurons30_batchsize10_eta3_01
ProjectCode/trained_network_hiddenlayer1_neurons30_batchsize10_eta3_03
ProjectCode/CMakeFiles/
ProjectCode/CMakeFiles
ProjectCode/cmake_install.cmake
ProjectCode/Makefile
